<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- ENCY SDK packages (CAMAPI.*) — public feed, anonymous read -->
    <add key="ency-master" value="https://nexus.encycam.com/repository/master/index.json" />
  </packageSources>
</configuration>
